<div class="container m-auto bg-white my-10 border border-grey-light p-6">
    <h1 style="font-size: 16px; color: indigo;">Users</h1>
    <%# rails will look for a partial in the users directory and loop through it%>
    <%= render @users %>
</div>