<div class="max-w mx-10 my-10 m-auto text-center">
    <div div class="p-5 bg-white border border-gray rounded">
        <h1 class="font-bold text-2xl">About Us</h1>
        <p>This site was created by Marcus Tonge for the 'Web Applications Development' module.</p>
        <br>
        <p class="underline">Extra information about admin accounts:</p>
        <p>Admin accounts are created using the rails console and updating a user's admin field to 'true'. Currently the user deletion process for the admin section does not work correctly and deletes the currently logged in user instead of the selected user.</p>
    </div>
</div>