<%= month_calendar events: events do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
    <div>
        <%= link_to event.name, event, class: "link"%>
    </div>
    <% end %>
<% end %>