<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10 underline">Edit Event</h1>
  <p class="text-lg text-grey-darker mb-6">Modify your Event as you wish here:</p>
  <%= render 'form', event: @event %>
</div>