<div class="container m-auto my-4" style="padding: 4px;">
  <% unless current_user.events.any? %>
    <%= render "events_cta" %>
  <% else%>
    <%= render "events_landing", events: @events %>
  <% end %>
</div>