<div class="max-w-lg m-auto px-4">
    <h1 class="text-3xl mt-10 underline"><%= t('.schedule') %></h1>
    <p class="text-grey-darker mb-6"><%= t('.details') %></p>
    <%= render 'form', event: @event %>
</div>