/* Buttons */

.btn {
  font-weight: 600;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease all;
}

.btn-default {
  box-shadow: 0 2px 3px rgba(#444444, 0.2);
  background-color: white;
  border-color: gray;
  border-width: 0.5px;
  &:hover, &:focus {
    background-color: lightgray;
  }
}

.btn-primary {
  background-color: white;
  border-color: gray;
  border-width: 0.5px;
  box-shadow: 0 1px 2px rgba(#444444, 0.1);

  &:hover, &:focus {
  background-color: lightgray;
  }
}

.btn-secondary {
  background-color: lightgray;
  box-shadow: 0 1px 2px rgba(#444444, 0.1);

  &:hover, &:focus {
    background-color: gray;
    
   
  }
}

.btn-destroy {
  background-color: white;
  border-width: 0;
  border-style: solid;
  border-color: red;
  color: red;

  &:hover, &:focus {
    background-color: red;
    color: white;
    
  }
}

.link {
  color: indigo;
  text-decoration: none;
  &:hover, &:focus {
    color: darkmagenta;
  }
}